<!DOCTYPE HTML>
<html lang="en-us">
    <head>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    

    <meta charset="UTF-8">
    <title>Scraping With Mongoose</title>
    <style>
      body { background-color: #F2F6D0 }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
    </style>
  
    </head>

    <body>
      

     {{{body}}}



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <script>
    
    </script>
    </body>

</html>
